@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');

:root {
    color-scheme: normal;
    --c--bg: 248, 245, 235; /* F8F0E5 */
    --c--secondary: 215, 205, 190; /* EADBC8 */
    --c--tertiary: 218, 192, 163; /* DAC0A3 */
    --c--text: 16, 44, 87; /* 102C57 */

    --font-size--h1: 3.052rem;
    --font-size--h2: 2.441rem;
    --font-size--h3: 1.953rem;
    --font-size--h4: 1.543rem;
    --font-size--h5: 1.24rem;
    --font-size--p: 1rem;

    --font-weight--light: 300;
    --font-weight--bold: 800;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    border: none;
    background-color: none;
}
h1 {
    font-size: var(--font-size--h1);
    font-weight: var(--font-weight--bold);
}
h2 {
    font-size: var(--font-size--h2);
    font-weight: var(--font-weight--bold);
}
h3 {
    font-size: var(--font-size--h3);
    font-weight: var(--font-weight--bold);
}
h4 {
    font-size: var(--font-size--h4);
    font-weight: var(--font-weight--bold);
}
h5 {
    font-size: var(--font-size--h5);
    font-weight: var(--font-weight--bold);
}
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter {
    text-transform: uppercase;
}

body {
    width: 100vw;
    background-color: rgb(var(--c--bg));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    color: rgb(var(--c--text));
    font-size: var(--font-size--p);
    font-family: 'Poppins', sans-serif;
}
.title {
    width: 100%;
    text-align: center;;
}

.sketch--ctr{
    width: 50%;
    min-width: 250px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sketch--ctr h2 {
    width: 100%;
    text-align: center;
}
.sketch {
    width: 90%;
    border-radius: 5px;
    background-color: rgb(var(--c--secondary));
    aspect-ratio: 1;
}
.sketch--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.sketch--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.sketch__box {
    aspect-ratio: 1;
    border-radius: 5px;
    transition: opacity 0.3s;
}
.sketch__box:hover {
    opacity: 0.3;
}

/* Setting */
.sketch__setting-ctr {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.setting__button {
    width: 6rem;
    max-width: fit-content;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 5px;
    background-color: rgb(var(--c--secondary));
    color: rgb(var(--c--bg));
    font-size: 1rem;
    font-weight: var(--font-weight--bold);
    text-transform: uppercase;
}
.setting__button:hover {
    background-color: rgb(var(--c--tertiary));
    box-shadow: 1px 1px 4px rgb(var(--c--secondary)),
                -1px -1px 4px rgb(var(--c--secondary));
}
/*  Color-Option(hue/saturation/luminance) */
.color-option--ctr {
    width: 90%;
    padding: 1rem;
    border: 4px solid rgb(var(--c--secondary));
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(var(--c--tertiary));
}
.color-option__field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.color-option__field > * {
    margin: 0.5rem 0;
}
.color-option__title {
    font-size: var(--font-size--h5);
    font-weight: var(--font-weight--bold);
    text-transform: capitalize;
}
/*  Number input  */
.field--num {
    /* input text size */
    font-size: var(--font-size--p);
}
.color-option__label {
    font-size: var(--font-size--p);
    font-weight: var(--font-weight--light);
}
input.color-option__num {
    width: calc(var(--font-size--p) * 3 + 2rem);
    padding: 0.25rem 0.5rem;
    margin: 0 2%;
}
.input__separator {
    margin: 0 2%;
}
/*  Range input */
.field--range {
    position: relative;
    height: 3rem;
    padding-inline: 1rem;
}
input.color-option__range[type="range"] {
    position: absolute;
    width: 100%;
    max-width: 300px;
    height: 5px;
    background: transparent;
    -webkit-appearance: none;
}
input.color-option__range[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(var(--c--tertiary));
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
}

input.color-option__range[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    border: 1px solid rgb(var(--c--secondary));
    border-radius: 5px;
}
.color-option__range__progress {
    position: absolute;
    max-width: 300px;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(var(--c--secondary));
}
@media only screen and (max-width: 480px) {
    .color-option--ctr {
        width: fit-content;
        max-width: 95vw;
    }
    .color-option__field {
        flex-wrap: nowrap;
    }
}